---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import CaseStudies from "../components/CaseStudies.astro";
import Skills from "../components/Skills.astro";
import BlogGateway from "../components/BlogGateway.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Abdulselam Abdurehman | Software Engineer & Architect">
  <main class="space-y-24">
    <Hero />
    <About />
    <CaseStudies />
    <Skills />
    <BlogGateway />
  </main>
  <Footer />
</Layout>
